*{
    box-sizing: border-box;
}
body{
    background-color:  #621402;;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container{
    max-width: 1170px;
    margin: auto;
    width: 90%;
}
a{
    text-decoration: none;
}


/*HEADER*/
.header{
    padding-bottom: 60px;
    background:  linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),url("../img/bg.jpg") no-repeat center top / cover;
}
.nav{
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.menu{
    list-style: none;
    display: flex;
    margin-left: 57px;
}
.menu_item{
    margin-right: 25px;
    
}
.menu_link{
    text-decoration: none;
    color: white;
}
.user{
    margin-left: auto;
    display: flex;
    align-items:center;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 11px;
}
.film{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.film_title_small{
    font-size: 24px;
    line-height: 150%;
    opacity: 0.5;
}
.film_title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    animation-duration: 2.7s;
    animation-timing-function: ease-in-out;
}
.film_descripcion{
    max-width: 560px;
    font-size: 16px;
    line-height: 150%;
    margin-top: 23px;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.film_trailer{
    margin: auto;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.film_details{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.time{
    display: flex;
    align-items: center;
}
.time_icon{
    margin-right: 14px;
}
.rating{
    display: flex;
    align-items: center;
    margin-left: 34px;
}
.rating_icon{
    margin-right: 14px;
}
.rating_current{
    font-size: 24px;
    line-height: 150%;
}
/*session*/
.session{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.session_lable{
    display: block;
    margin-bottom: 20px;

}

.session_date_block{
    display: flex;
}
.session_daet_item{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.2s;
    cursor: pointer;
} 
.session_month{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 2px;
}
.session_day{
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 2px;
}
.session_week{
    font-size: 19px;
    line-height: 22px;
}
.session_daet_item:hover{
    background-color:#FE8E05; 
    color: #621402;
}
.select{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color:white;
    padding: 18px;
    cursor: pointer;
    max-width: 470px;
    margin-top: 15px;
}
.select_clock{
    max-width: 108px;;

}
.select_cinema{
    width: 470px;
}
/*scheme*/

.scheme{
    margin-top: 63px;
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
    margin-bottom: 40px;
}
.scheme_svg{
    max-width: 1170px; 
}
.scheme path:not(.light){
    fill: rgba(255, 255, 255, 0.2);
}
.scheme path:not(.light):hover{
    fill: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.scheme path.booked,
.scheme path.booked:hover{ 
    fill: rgba(255, 255, 255, 0.05);
    cursor:not-allowed;
}
.scheme path.active,
.scheme path.active:hover{ 
    fill: #FE8E05;
}
.legend{
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 1024px;
    width: 90%;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 38px;
}
.legend_lable{
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.5);
}
.legend svg{
    margin-right: 15px;
}
.price{
    max-width: 1024px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price_lable{
    display: block;
    font-size: 18px;
    line-height: 21px;
}
.price_tag{
    font-size: 52px;
    line-height: 61px;
}
.button{
    display: block;
    background: #FE8E05;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: white;
    padding: 24px 52px;

}

.m_menu{
    display: none;
}
@media(max-width:1200px){
    .container{
        max-width: 960px;
    }
    .select_cinema{
        width: 100%;
    }
}

@media(max-width:992px) {
    .container{
        max-width: 750px;
    }
    .session{
        flex-wrap: wrap;
    }
    .session_date{
        flex-basis: 70%;
        margin-bottom: 40px;
    }
    .session_time{
        order: 2;
    }
    .session_cinema{
        order: 3;
    }
    .menu_item{
        margin-right: 20px;
    } film_title{
        max-width: 500px;
    }
    .film_descripcion{
        max-width: 480px;
    }
}

@media(max-width:768px) {
    .container{
        max-width: 560px;
    }
    .menu{
        position: absolute;
        left:0;
        top: 30px;
        flex-direction: column;
        margin-left: 20px;
        padding: 20px;
        background-color:#621402;
        z-index: 9;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: opasity 0.5s, transform 0.5s;
        margin-bottom: 10px;
    }
    .is_open{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    .m_menu{
        display:flex;
        align-items: center;
        background: transparent;
        border:none;
        width: 40;
        height: 40;
        margin-left: 20px;
        margin-right: 50px;
        cursor: pointer;

    }
    .m_menu_text{
        color:white;
        margin-right: 7px;
    }
    .menu_item:not(:last-child){
        margin-bottom: 7px;
    }
    .film_info{
        margin-top: 50px;
    }
    .film{
        flex-direction: column;
    }
    .film_trailer{
        margin-right: auto;
        margin-left: 17%;
        margin-top: 40px;
    }
    .session_date{
        width: 90%;
    }
    .session_time{
        margin-bottom: 40px;
    }
    .legend{
        
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
    }
    .legend_lable:not(:last-child){
        margin-bottom: 10px;
    }
    .button_pay{
        text-align: center;
        padding:7px 0px;
        margin-left: 15px;
    }
    .user{
        justify-content: center;
    }
 }
 